<% provide(:title, 'About') %>
<div class="row large" data-emit-events>
  <div class="inner-content">
    <div class="row show-for-medium-up" id="about" data-50="opacity:1; position: fixed; top: 45px; width:100%; height:350px" data-200="opacity:1;  width:100%; position: fixed;" data-1200="" data-2400="opacity:0;  width:100%; position: fixed; top: -50px;">
     <a name="about"></a>
     <div id="vitals" data-50="opacity:1; margin-top:50px;" data-200="opacity:0; margin-top: 70px;" >
       <h3>GARRETT A. BOONE</h3>
       <p>WEB DEVELOPER</p>
       <p>AUSTIN,TX</p>
     </div>
     <div id="skills" data-110="transform:scale(0) rotate(5deg);margin-left:0%;opacity:0;" data-500="transform:scale(1) rotate(0deg);opacity:1; margin-top:-175px;margin-left:25%;opacity:1;" data-1000="" data-1200="transform:scale(5) rotate(-5deg);opacity:0;margin-left:100%;">
      <ul>
        <li><%=image_tag("git.png")%></li>
        <li><%=image_tag("jq.png")%></li>
        <li><%=image_tag("js.png")%></li>
        <li><%=image_tag("mongo.png")%></li>
        <li><%=image_tag("mysql.png")%></li>
        <li><%=image_tag("rails.png")%></li>
        <li><%=image_tag("rspec.png")%></li>
        <li><%=image_tag("ruby.png")%></li>
      </ul>
    </div>
  </div>
  <div class="show-for-small-only small-12">
   <div id="vitals" data-50="opacity:1; margin-top:50px;" data-500="opacity:0; margin-top: 70px;" >
    <div id="small-vit">
     <h3>GARRETT A. BOONE</h3>
     <p>WEB DEVELOPER</p>
     <p>AUSTIN,TX</p>
   </div>
 </div>
</div>
<div class="row current" data-50="opacity:1; position: fixed; top: 395px; width:100%;" data-2000="width:100%; position: fixed; top:45px; height:400px;" data-2500="opacity:0;">
  <!-- <div class="columns large-8 small-centered" > -->
    <!-- <ul id="summary"> -->
      <h3>About</h3>
      <p> Personally developing since 2012</p>
      <p> Professionally developing since mid 2013</p>
      <p> I am currently employed at Lin-Digital, a major player in online advertising.</p>
      <p>I've gained valuable professional experience from working with and obtaining guidance from senior developers while at Lin-Digital.</p>
      <p>Currently I'm experimenting with tons of fun things. ie: Angular,Mongodb,Node.js....too many to list here.</p>
    <!-- </ul> -->
  </div>
  <div class="row current" data-2100="opacity:0; position: fixed; top: 395px; width:100%;" data-3100="opacity:1;  width:100%; position: fixed; top:45px;"
  data-3500="opacity:0;" >
    <h3>Some Things I Can Do</h3>
    <% @skills = %w(Ruby Rails HTML MySQL Mongodb JavaScript CSS Sinatra jQuery RSpec Front-end_Design) %>
    <ul id="skills2">
      <% @skills.each do |skill| %>
      <li><%= skill %></li>
      <% end %>
    </ul>
  </div>
   <div class="row current" data-3100="opacity:0; position: fixed; top: 395px; width:100%;" data-4100="opacity:1; width:100%; position: fixed; top:45px;"
   data-5000="opacity:0;" >
    <h3>PROFESSIONAL EXPERIENCE</h3>
    <h4>DEVELOPER 08/2013 - Current</h4>
    <p>Lin-Digital   Austin, TX</p>
    <p>Phone: (512) 380-4400</p>

    <p> Created two applications that improved productivity of multiple teams by automating reporting, statistical analysis, and accounting duties resulting in an average of 3+ hours of work per day saved per employee.</p>
    <p> Contributed to the development and maintenance of multiple applications for internal and external users. These applications facilitated with the creation of Insertion Orders, Media Plans, and Campaigns for clients through a central location and sending the details to multiple ad networks to run advertisements as well as tracking advertising statistics.</p>
    <p> Worked with key individuals and users to gather requirements and feedback on multiple projects in order to deliver new applications, features requests, and general changes to current applications and processes to improve workflow and better serve users.</p>
  </div>
  <div class="row current" data-4500="opacity:0; position: fixed; top: 395px; width:100%;" data-5500="opacity:1;  width:100%; position: fixed; top:45px; height:400px " >
    <h3>EDUCATION AND CERTIFICATIONS</h3>
      <h4>DEV BOOTCAMP (Graduated 2013)</h4>
      <h5>Web Development<h5>
      <p>9-week learning intensive course based around Ruby on Rails and web development in Chicago, IL</p>

      <h4>TEXAS TECH UNIVERSITY</h4>
      <p>Bachelor of Business Administration (Graduated 2009)</p>
      <p>Majored in Marketing</p>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".footer").hide();
})
var s = skrollr.init({
  forceHeight: true
});
</script>
