<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blog" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.localScroll.js' %>
    <%= javascript_include_tag 'jquery.scrollTo.js' %>
    <%= javascript_include_tag 'skrollr.js' %>
    <%= csrf_meta_tags %>
  </head>
  <% @about_page ? page="about_bg" : page= "home" %>
  <body class=<%=page%> >
    <header>
      <div class="sticky">
        <%= render 'layouts/navigation' %>
      </div>
    </header>
    <div class="inner-wrap">
      <main role="main">
        <%= render 'layouts/messages' %>
        <%= render 'layouts/sidebar_left'%>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
